@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
  /* background-color: gainsboro; */
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  /* color: #222; */
  /* color:azure; */
}

#hero h2 {
  font-size: 46px;
  line-height: 54px;
  /* color: #222; */
  color: aliceblue;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  /* color: #222; */
  color: #222;
}

#hero h4 {
  font-size: 20px;
  color: azure;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  /* background-color: #cddcdc;
  background-image: radial-gradient(
      at 50% 100%,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(0, 0, 0, 0.25) 100%
    );
  background-blend-mode: screen, overlay; */
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #1a1a1a;
  background-color: white;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
  border-radius: 4px;
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}

.logo {
  padding-top: 5px;
  width: 12rem;
  height: auto;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 80px;
  /* background: #e3e6f3; */
  background-color: black;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  padding-top: 1rem;
  display: flex;
  align-items: center;
}
#navbar li {
  list-style: none;
  /* margin: 0 10px; */
  padding: 0 20px;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  /* color: #330333; */
  color: white;
  transition: 0.3s;
}

#navbar li a:hover,
#navbar li a.active {
  color: teal;
  transition: 0.6 ease;
  border-bottom: 3px solid teal;
}
#mobile {
  display: none;
  align-items: center;
}
#close {
  display: none;
}

/* #navbar li a.active::after{
  /* content: ""; */
/* width: 30%;
  height: 2px;
  background: teal;
  position: absolute;
  bottom: -4px;
  left: 20px; */
/* border-bottom: 2px solid teal;
} */

#hero {
  /* background-image: url("https://c4.wallpaperflare.com/wallpaper/111/6/574/glass-reflection-wine-red-wallpaper-preview.jpg"); */
  /* background-image: url("https://c4.wallpaperflare.com/wallpaper/111/6/574/glass-reflection-wine-red-wallpaper-preview.jpg"); */
  background-image: url("img/pexels-brett-sayles-1660560.jpg");
  height: 90vh;
  width: 100%;
  background-repeat: no-repeat;
  /* display: flex;
  align-items: flex-start; */
  /* justify-content: center; */
  /* background-position: center; */
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

#hero h4 {
  padding-bottom: 15px;
}

#hero h1 {
  color: teal;
}

#hero p {
  font-weight: 800;
  color: #fff;
}

#hero button {
  background-color: teal;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.6 ease;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#hero button:hover {
  /* box-shadow: rgba(7, 135, 202, 0.8) 0 0 90px 33px; */

  color: white;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

#hero button:active {
  box-shadow: none;
}

/* feature section in starts*/
/* #features {
  background-color: #cddcdc;
}
#feature .f-rows {
  padding-left: 6rem;
}

.f-head h2 {
  font-size: 2rem;
  text-align: center;
  color: #222;
  font-weight: bold;
  margin-bottom: 10px;
}
.f-head p {
  text-align: center;
  color: #222;
  font-weight: bold;
  margin-bottom: 10px;
}
#feature .fe-box {
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.2px);
  -webkit-backdrop-filter: blur(6.2px);
  border: 1px solid rgba(255, 255, 255, 0.75);
  width: 80%;
  text-align: center;
  padding: 25px 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 10px 0;
}

#feature .fe-box:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 15px,
    rgba(0, 0, 0, 0.12) 0px -12px 10px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 10px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#feature .fe-box h6 {
  padding: 9px 8px 6px 8px;
  color: teal;
  display: inline-block;
}

#feature .fe-box img {
  width: 80%;
  margin-bottom: 10px;
}

#feature .fe-box:nth-child(2) h6 {
  color: pink;
}
#feature .fe-box:nth-child(3) h6 {
  color: lightgreen;
}
#feature .fe-box:nth-child(4) h6 {
  color: lightskyblue;
}
#feature .fe-box:nth-child(5) h6 {
  color: plum;
}
#feature .fe-box:nth-child(6) h6 {
  color: orange;
} */

/* Feature Section Starts */
#feature {
  background-image: url("img/pexels-kelly-1179532-2796105.jpg"); /* Replace with your actual image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 0; /* Add padding to avoid content touching the edges */
}

#feature .f-rows {
  padding-left: 6rem;
}

.f-head h2 {
  font-size: 2rem;
  text-align: center;
  /* color: #222; */
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}

.f-head p {
  text-align: center;
  /* color: #222; */
  /* color: #696666; */
  color: gold;
  font-weight: bold;
  margin-bottom: 10px;
}

#feature .fe-box {
  background: rgba(255, 255, 255, 0.5); /* Semi-transparent white background */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(6.2px);
  border: 1px solid rgba(255, 255, 255, 0.75);
  width: 70%;
  text-align: center;
  padding: 35px 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 10px 0;
}

#feature .fe-box:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 15px,
    rgba(0, 0, 0, 0.12) 0px -12px 10px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 10px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#feature .fe-box h6 {
  padding: 9px 8px 6px 8px;
  /* color: teal; */
  color: black;
  display: inline-block;
}

#feature .fe-box img {
  width: 35%;
  /* margin-bottom: 10px; */
}

#feature .fe-box:nth-child(2) h6 {
  color: pink;
}
#feature .fe-box:nth-child(3) h6 {
  color: lightgreen;
}
#feature .fe-box:nth-child(4) h6 {
  color: lightskyblue;
}
#feature .fe-box:nth-child(5) h6 {
  color: plum;
}
#feature .fe-box:nth-child(6) h6 {
  color: orange;
}

/* Feature Section Ends */

/* feature section ends */

/* video section start */

.product-p0 {
  text-align: center; /* Center the text */
}

.video-container {
  position: relative; /* Position relative for button placement */
  display: inline-block; /* Center the video container */
}

.video {
  margin-top: 1em;
  width: 90%;
  max-width: 800px;
  height: auto;
}

.mute-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#vid h2,
#vid p {
  /* color: #222; */
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}

#vid {
  background-color: #222;
  text-align: center;
  padding: 20px 0;
}
#vid video {
  margin-bottom: 1rem;
}

/* video section end */

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("https://c4.wallpaperflare.com/wallpaper/512/132/908/minimalism-monochrome-black-background-walking-johnnie-walker-hd-wallpaper-preview.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}
#banner h2 {
  color: darkgoldenrod;
  font-size: 4vh;
  padding: 10px 0;
}
#banner h4 {
  color: white;
}

#banner h2 span {
  color: crimson;
}
#banner button.normal:hover {
  background-color: teal;
  color: #fff;
}

#sm_banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1586734565008-fbdbc166fd6c?q=80&w=1216&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  min-width: 580px;
  height: 50vh;
  background-size: cover;
  background-position: center;
}

.banner-box h2 {
  color: white;
}
/* #sm_banner h1{
    color: teal
  } */

.banner-box h4 {
  color: white;
}
.banner-box span {
  color: brown;
  font-weight: 700;
  padding-bottom: 15px;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid white;
  outline: none;
  transition: 0.2s;
  border-radius: 4px;
}
#sm_banner .banner-box:hover button {
  background: #c80e13;
  border: 1px solid #c80e13;
}

#newsletter .form {
  display: flex;
  width: 40%;
}

#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #091f36;
}

#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: white;
}

#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #606063;
}

#newsletter p span {
  color: teal;
}

#newsletter input {
  height: 3.125rem;
  padding: 0 1.25rem;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

button.blue {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid white;
  outline: none;
  transition: 0.2s;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

button.blue:hover {
  background: #c80e13;
  border: 1px solid #c80e13;
}
.picha {
  margin-top: 5px;
  height: 30px;
  background-color: white;
}

footer {
  background-color: white !important;
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .colm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer a {
  font-size: 18px;
  text-decoration: none;
  margin: 0 0 10px 0;
  color: #091f36;
}

.footer {
  margin-top: auto;
  text-align: center;
  padding: 10px 0;
  background-color: #f1f1f1;
  font-size: 14px;
  overflow-x: hidden;
}

/* .notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  align-items: center;
} */

/* .notification a {
  color: teal;
  text-decoration: none;
  margin-left: 10px;
} */

.close-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.close-btn:hover {
  color: #ccc;
}

footer .follow :hover {
  color: teal;
}

footer .colf :hover {
  color: teal;
}

/* resposnivemess */
@media (max-width: 799px) {
  .section-p1 {
    padding: 40px 40px;
  }

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: aliceblue;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  #mobile {
    display: flex;
    align-items: center;
  }
  #mobile i {
    color: #222;
    font-size: 24px;
    padding-left: 20px;
  }
  #navbar.active {
    right: 0;
  }
  #close {
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 24px;
    display: initial;
  }
  #lg-bag {
    display: none;
  }
  #hero {
    height: 70vh;
    padding: 0 70px;
    background-position: top 30% right 30%;
  }

  #feature {
    justify-content: center;
  }
  #feature .fe-box {
    margin: 15px 15px;
  }
  #product1 .pro-container {
    justify-content: center;
  }
  #product1 .pro {
    margin: 15px;
  }
  #banner {
    height: 20vh;
  }

  #sm_banner .banner-box {
    min-width: 100%;
    height: 30vh;
  }

  #newsletter .form {
    width: 70%;
  }
}

@media (max-width: 477px) {
  #header {
    padding: 10px 30px;
  }

  #hero {
    padding: 0 20px;
    background-position: 55%;
  }
  h2 {
    font-size: 32px;
  }
  h1 {
    font-size: 38px;
  }
  .section-p1 {
    padding: 20px;
  }
  #feature .fe-box {
    width: 155px;
    margin: 0 0 15px 0;
  }
  #feature {
    justify-content: space-between;
  }
  #product1 .pro {
    width: 100%;
  }

  #product1 .pro a:hover {
    cursor: pointer;
  }

  #banner {
    height: 40vh;
  }
}
